<!-- vika -->
<section class="bose-nc">
  <div class="container">
    <div class="bose-nc__box-one">
      <h2 class="bose-nc__title">bose nc 700</h2>
      <div class="bose-nc__wrapper">
        <div class="bose-nc__box-two">
          <picture class="bose-nc__img">
            <source
              srcset="
                ./img/headphone-white.png    1x,
                ./img/headphone-white@2x.png 2x
              "
              type="image/png"
            />
            <source
              srcset="
                ./img/headphone-white.webp    1x,
                ./img/headphone-white@2x.webp 2x
              "
              type="image/webp"
            />
            <img src="./img/headphone-white.png" alt="headphone-white" />
          </picture>
        </div>
        <div>
          <div class="bose-nc__elips-box">
            <div class="bose-nc__elips"></div>
            <div class="bose-nc__elips"></div>
          </div>
          <div class="bose-nc__wrap">
            <div class="bose-nc__question">
              <h5 class="bose-nc__characteristics">Availability in stores</h5>
              <svg class="bose-nc__vector">
                <use href="./img/symbol-defs.svg#icon-vector"></use>
              </svg>
            </div>
            <div class="bose-nc__question">
              <h5 class="bose-nc__characteristics">Characteristics</h5>
              <svg class="bose-nc__vector">
                <use href="./img/symbol-defs.svg#icon-vector"></use>
              </svg>
            </div>
            <div class="bose-nc__question">
              <h5 class="bose-nc__characteristics">
                Payment and delivery methods
              </h5>
              <svg class="bose-nc__vector">
                <use href="./img/symbol-defs.svg#icon-vector"></use>
              </svg>
            </div>
          </div>
          <h2 class="bose-nc__price">14 999 uah</h2>
          <button class="bose-nc__btn">order</button>
        </div>
      </div>
    </div>
  </div>
</section>
