<!-- vasya -->
<section class="bose">
    <div class="container">
        <div class="bose__blok">
            <div class="bose__text">
                <h3 class="bose__text-title">Bose AR</h3>
                <h5 class="bose__text-item">Brand name technology</h5>
                <p class="bose__text-list">Bose AR is a unique audio platform augmented reality, that opens before you
                    new facets of sound. It allows you
                    to stay connected to the real world and immerse yourself in the virtual universe
                    at the same time.
                </p>
            </div>
            <!-- <img src="./img/bose-two.png" alt="photo" class="bose__photo"> -->
            <div class="bose__photo-pix"></div>
        </div>
    </div>
</section>