<!-- vika -->
<section class="bose-nc">
  <div class="container">
    <h2 class="bose-nc__title">bose nc 700</h2>
    <div class="bose-nc__elips-box">
    <div class="bose-nc__elips"></div>
    <div class="bose-nc__elips"></div>
</div>
    <div class="bose-nc__item"> 
        <div class="bose-nc__question"><h5>Availability in stores</h5></div> 
      </div>
      <div class="bose-nc__item"> 
        <div class="bose-nc__question"><h5>Characteristics</h5></div> 
      </div>
      <div class="bose-nc__item"> 
        <div class="bose-nc__question"><h5>Payment and delivery methods</h5> <svg> <use href="./img/symbol-defs.svg#icon-vector"></use> </svg> </div> 
      </div>
      <h2 class="bose-nc__price">14 999 uah</h2>
      <button class="bose-nc__btn"></button>
      <picture>
        <source
          srcset="./img/headphone-black.png 1x, ./img/headphone-black@2x.png 2x"
          type="image/png"
        />
        <source
          srcset="./img/headphone-black.webp 1x, ./img/headphone-black@2x.webp 2x"
          type="image/webp"
        />
        <img src="./img/headphone-black.png" alt="headphone-black" />
      </picture>
      <picture>
        <source
          srcset="./img/headphone-white.png 1x, ./img/headphone-white@2x.png 2x"
          type="image/png"
        />
        <source
          srcset="./img/headphone-white.webp 1x, ./img/headphone-white@2x.webp 2x"
          type="image/webp"
        />
        <img src="./img/headphone-white.png" alt="headphone-white" />
      </picture>
  </div>
</section>
