<!-- vasya -->
 <section class="capable">
    <div class="container">
        <div class="capable__blok">
            <h3 class="capable__title-text">capable of so much</h3>
            <ul class="capable__item">
                <li class="capable__list">
                    <div class="capable__red"></div>
                </li>
                <li class="capable__list"></li>
                <li class="capable__list"></li>
                <li class="capable__list"></li>
                <li class="capable__list"></li>
                <li class="capable__list"></li>
            </ul>
        </div>
    </div>
 </section>