<!-- vasya -->
<section class="capable">
    <div class="container">
        <div class="capable__blok">
            <h3 class="capable__title-text">capable of so much</h3>
            <div class="capable__box-item">
                <ul class="capable__item">
                    <li class="capable__list">
                        <div class="capable__red"></div>
                        <p class="capable__text">Ability to receive calls</p>
                    </li>
                    <li class="capable__list">
                        <div class="capable__red"></div>
                        <p class="capable__text">Rich and powerful sound</p>
                    </li>
                    <li class="capable__list">
                        <div class="capable__red"></div>
                        <p class="capable__text">Active noise cancellation option</p>
                    </li>
                </ul>
                <ul class="capable__item">
                    <li class="capable__list">
                        <div class="capable__red"></div>
                        <p class="capable__text">Unsurpassed microphone system</p>
                    </li>
                    <li class="capable__list">
                        <div class="capable__red"></div>
                        <p class="capable__text">Support of voice assistants</p>
                    </li>
                    <li class="capable__list">
                        <div class="capable__red"></div>
                        <p class="capable__text">Bose AR Augmented Reality Audio Platform</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>