<!-- vasya -->
<section class="design">
    <div class="container">
        <div class="design__blok">
            <img src="./img/design.png" alt="photo" class="design__photo">
            <div class="design__text">
                <h3 class="design__text-title">Premium design <br>and comfort</h3>
                <h5 class="design__text-item">11 levels of noise reduction</h5>
                <p class="design__text-list">With the new Bose Noise Canceling Headphone 700, you can
                    smoothly increase or decrease the level of noise cancellation. You can be heard perfectly and you
                    hear the interlocutor clearly, even in a noisy environment
                </p>
                <h5 class="design__text-item">Comfort up to max level</h5>
                <p class="design__text-list">Stylish, lightweight stainless steel headband with soft,
                    angled cups of headphones for comfortable seating. The inner side is made of soft gel lining that
                    fits well to the head.
                </p>
            </div>
        </div>
    </div>
</section>