<!-- vika -->
 
<section class="faq">
  <div class="container">
  <h2 class="faq__title">FAQ</h2>
  <div class="faq__box">
    <div class="faq__item"> 
        <div class="faq__question"> <span class="faq__number" >1</span><h5> How to pair with a mobile device?</h5><div>?</div></div> 
        <div class="faq__answer"> Firstly, make sure your headphones are turned on with a single press of the top button on the back of the right earbud. Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please note that if you connect the headphones for the first time, they will automatically turn on immediately in this pairing mode. Voice prompts will provide you with additional instructions. We recommend that you use the Bose Music app to complete the pairing process, however you can also use the Bluetooth settings on your device.</div> 
      </div>
    <div class="faq__item"> 
        <div class="faq__question"> <span class="faq__number">2</span>What is the wireless range of the Bose NC 700?<div>?</div></div> 
        <div class="faq__answer">Firstly, make sure your headphones are turned on with a single press of the top button on the back of the right earbud. Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please note that if you connect the headphones for the first time, they will automatically turn on immediately in this pairing mode. Voice prompts will provide you with additional instructions. We recommend that you use the Bose Music app to complete the pairing process, however you can also use the Bluetooth settings on your device.</div> 
    </div>
    <div class="faq__item"> 
        <div class="faq__question"> <span class="faq__number">3</span>How do I fold the Bose NC 700 headphones for storage?<div>?</div></div> 
        <div class="faq__answer">Firstly, make sure your headphones are turned on with a single press of the top button on the back of the right earbud. Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please note that if you connect the headphones for the first time, they will automatically turn on immediately in this pairing mode. Voice prompts will provide you with additional instructions. We recommend that you use the Bose Music app to complete the pairing process, however you can also use the Bluetooth settings on your device.</div> 
    </div>
    <div class="faq__item"> 
        <div class="faq__question"> <span class="faq__number">4</span>Does the guarantee work internationally?<div>?</div></div> 
        <div class="faq__answer">Firstly, make sure your headphones are turned on with a single press of the top button on the back of the right earbud. Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please note that if you connect the headphones for the first time, they will automatically turn on immediately in this pairing mode. Voice prompts will provide you with additional instructions. We recommend that you use the Bose Music app to complete the pairing process, however you can also use the Bluetooth settings on your device.</div> 
    </div>
  </div>
</div>
</section>
