<!-- vlad -->
<!-- + фото попереду -->
 <section class="feedback">
    <div class="container">
        <img class="feedback__img" src="./img/freebackimg.png" alt="feedbackImg">
        <div class="feedback__wrap">
            <div class="feedback__box">
                <h2 class="feedback__title">Feedback</h2>
         <p class="feedback__text">We'll help you find the right <br> headphones for you.</p>
            </div>            
         <form class="feedback__form">
            <label>
                <input class="feedback__input" placeholder="Your name" type="text" required>
            </label>
            <label>
                <input class="feedback__input" placeholder="Your e-mail" type="email" required>
            </label>
            <label>
                <textarea class="feedback__textarea" placeholder="Send us a message"></textarea>
            </label>
            <div class="feedback__form-div">
                <label>
                    <input class="feedback__checkbox" type="checkbox" required>
                </label>
                <p class="feedback__checkbox-text">I agree to the <a class="feedback__checkbox-link" href="https://www.bose.com/legal/privacy-policy?srsltid=AfmBOop297YuOocOQ22j5dfnxo_z5Hl5g0NvVBGUOX-7iTkElOfTSYyG">privacy policy</a></p>
            </div>            
            <button class="feedback__button" type="submit">Send</button>
         </form>
        </div>        
    </div>
 </section>