<!-- valera -->
<section class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__links-span">
                <ul class="footer__links">
                    <li class="footer__item"><a href="#" class="footer__link">Characteristics</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">History</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Reviews</a></li>
                </ul>
                <ul class="footer__links-two">
                    <li class="footer__item"><a href="#" class="footer__link">Payment and delivery</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Store addresses</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">FAQ</a></li>

                </ul>
            </div>
            <a class="footer__num">8 (800) 111-11-11</a>
        </div>
    </div>
</section>