<!-- valera -->
<section class="footer">
    <div>
        <ul class="footer__links">
            <li class="footer__item"><a href="#" class="footer__link">Characteristics</a></li>
            <li class="footer__item"><a href="#" class="footer__link">History</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Reviews</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Payment and delivery</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Store addresses</a></li>
            <li class="footer__item"><a href="#" class="footer__link">FAQ</a></li>
        </ul>
    </div>
</section>