<!-- vlad -->
 <header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="index.html"><img class="header__logo" src="./img/boselogo.png" alt="logo"></a>
        <nav class="header__navigation">
            <ul class="header__list">
                <li class="header__item"><a class="header__link" href="#">Characteristics</a></li>
                <li class="header__item"><a class="header__link" href="#">History</a></li>
                <li class="header__item"><a class="header__link" href="#">Reviews</a></li>
                <li class="header__item"><a class="header__link" href="#">Payment and delivery</a></li>
            </ul>
        </nav>
        </div>
        <div class="header__box">
            <div class="header__wrapper">
                <p class="header__text">Noise cancellation headphones <br> that are capable for a lot of things</p>
                <p class="header__text">Up to 20 hours <br> of playback</p>
                <h1 class="header__title">Headphones Bose NC 700</h1>
                <button class="header__button">Order</button>
            </div>
        <img class="header__img" src="./img/blackbose.png" alt="blackBose">
        </div>   
    </div>
 </header>