<!-- vlad -->
 <header class="header">
    <div class="container">
        <img class="header__logo" src="./img/boselogo.png" alt="logo">
        <nav class="header__navigation">
            <ul class="header__list">
                <li class="header__item"><a class="header__link" href="#">Characteristics</a></li>
                <li class="header__item"><a class="header__link" href="#">History</a></li>
                <li class="header__item"><a class="header__link" href="#">Reviews</a></li>
                <li class="header__item"><a class="header__link" href="#">Payment and delivery</a></li>
            </ul>
        </nav>
        <p class="header__text">Noise cancellation headphones that are capable for a lot of things</p>
        <p class="header__text">Up to 20 hours of playback</p>
        <h1 class="header__title">Headphones Bose NC 700</h1>
        <button class="header__button">Order</button>
        <img class="header__img" src="./img/blackbose.png" alt="blackBose">
    </div>
 </header>