<!-- valeria  -->
<section class="history">
    <div class="container">
        <div class="history__content">
            <div class="history__left-pad">
                <div class="history__left-information">
                    <h2 class="history__left-title">
                        brand
                        creation
                        history
                    </h2>
                    <p class="history__left-text">
                        The history of Bose Corporation began
                        with disappointment. In 1956, MIT graduate student Amar Bose bought one of the best stereo
                        systems
                        at
                        the time for his home.
                        After a few minutes of listening to the audio recording, his bewilderment turned
                        to disappointment.
                    </p>
                    <p class="history__left-text">
                        From Amar's point of view, the sound was
                        so flat and unnatural that it was better not to listen to the music at all than to listen to it
                        in
                        such
                        a distorted form.
                    </p>
                </div>
                <img class="history__left-photo" src="" alt="">
            </div>
            <div class="history__right-pad">
                <img class="history__right-photo" src="" alt="">
                <div class="history__right-information">
                    <p class="history__right-text">
                        Bose's frustration grew into a firm determination to build audio equipments
                        that would reproduce sound
                        with impeccable accuracy and naturalness
                    </p>
                    <h3 class="history__right-title">Never stop dreaming. Always dream of the best, and think about how
                        to
                        achieve it.</h3>
                    <p class="history__right-subtitle">Amar Bose is a company founder </p>
                </div>

            </div>
        </div>

    </div>
</section>