<!-- vlad -->
 <section class="reviews">
    <div class="container reviews__box">
        <a href="https://www.youtube.com/watch?v=VqP11Ma_2Fk"><img class="reviews__video" src="./img/video.png" alt="video"></a>
        <div class="reviews__wrap">
            <h2 class="reviews__title">Reviews</h2>
            <a class="reviews__link" href="https://www.youtube.com/watch?v=VqP11Ma_2Fk">Bose Сorporation</a>
            <p class="reviews__text">Critically acclaimed for their <br> powerful noise cancelling, <br> astonishing sound, and <br> unrivaled voice pickup, Bose <br> Noise Cancelling <br> Headphones 700 help turn <br> any space into the perfect <br> place to listen to music, get <br> work done, or just shut out <br> the world for a few <br> moments and relax. </p>
        </div>
    </div>
 </section>