// vika
.bose-nc {
  padding-bottom: 170px;
}
.bose-nc__box-one{
  width: 400px;
  display: inline-block;
}
.bose-nc__box-two{
  display: inline-block;
}
.bose-nc__img{
  width: 700px;
  height: auto;
}
.bose-nc__title {
  text-transform: uppercase;
  color: rgba(231, 231, 231, 1);
  font-size: 54px;
  font-weight: 600;
  margin-bottom: 50px;
}
.bose-nc__elips-box {
  display: flex;
  margin-bottom: 50px;
}
.bose-nc__elips {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.bose-nc__elips:nth-child(1) {
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(223, 61, 58, 1);
  cursor: pointer;
  transition-property: border-radius, box-shadow;
  transition-duration: 4000ms;
}
.bose-nc__elips:nth-child(1):hover{
border-radius: 1px;
box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent,
  inset 0 0 0 transparent, inset 0 0 0 transparent,
  0 0 20px rgb(223, 61, 58, 1);
}
.bose-nc__elips:nth-child(2) {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(104, 104, 104, 0.8);
  margin-left: 20px;
  cursor: pointer;
  transition-property: border-radius, box-shadow;
  transition-duration: 4000ms;
}
.bose-nc__elips:nth-child(2):hover{
  border-radius: 1px;
  box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent,
    inset 0 0 0 transparent, inset 0 0 0 transparent,
    0 0 20px rgba(104, 104, 104, 0.8);
  }
.bose-nc__question {
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.bose-nc__question:nth-child(1){
  border-top: 2px solid rgba(255, 255, 255, 0.8);
}
.bose-nc__characteristics {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 200;
  font-size: 16px;
  margin-top: 26px;
  margin-bottom: 26px;
}
.bose-nc__vector {
  width: 20px;
  height: 20px;
  margin-top: 26px;
  margin-bottom: 26px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 2500ms;
}
.bose-nc__vector:hover,
.bose-nc__vector:focus{
  transform: rotate(180deg) scale(1.2);
}
.bose-nc__price {
  font-weight: 600;
  font-size: 54px;
  color: rgba(223, 61, 58, 1);
  text-transform: uppercase;
  margin-top: 50px;
}
.bose-nc__btn {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: rgba(223, 61, 58, 1);
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  margin-top: 38px;
  cursor: pointer;
  transition-property: transform, border-radius, color;
  transition-duration: 1000ms;
}
.bose-nc__btn:hover,
.bose-nc__btn:focus{
  transform: rotate(-10deg);
  border-radius: 13px;
  color: rgb(45, 45, 45);
}
