.bose {
    padding-top: 170px;

    img{
        display: block;
        max-width: 100%;
        height: auto;
        margin-right: calc(40% - 40vw);
    }
    &__photo-pix-one{
        width: 700px;
        height: 586px;
        background-image: url(../img/bose-two.png);
        background-size: 700px 586px;
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        &__photo-pix-one{
            background-image: url(../img/bose-two@2x.png);
        }
    }
    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx){
        &__photo-pix-one{
            background-image: url(../img/bose-two@3x.png);
        }
    }

    // &__photo {
    //     width: 700px;
    //     height: 586px;
    //     margin-right: calc(40% - 40vw);
    // }

    &__blok {
        display: flex;
        justify-content: space-between;
    }

    &__text-title {
        font-family: Poppins, sans-serif;
        text-transform: uppercase;
        color: #E7E7E7;
        font-size: 54px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    &__text-item {
        font-weight: 600;
        font-family: Poppins, sans-serif;
        color: #E7E7E7;
        font-size: 28px;
        margin-bottom: 20px;
    }

    &__text-list {
        font-family: Poppins, sans-serif;
        color: #ffffff80;
        font-size: 20px;
        font-weight: 400;
        width: 380px;
        line-height: 145%;
    }
    &__text-list:hover{
        color: #E7E7E7;
        cursor: context-menu;
        transition: .6s linear;
    }
    @media screen and (max-width:1200px){
        .bose{
            padding-top: 100px;
            &__photo {
                width: 354px;
            }

            &__text-title {
                font-size: 30px;
            }

            &__text-item {
                font-size: 20px;
            }

            &__text-list {
                font-size: 16px;
            }

            &__text {
                margin-right: 60px;
            }
        }
    }
    @media screen and (max-width:768px){
        .bose{
            padding-top: 52px;
        }
        &__blok {
            display: block;
            align-items: center;
            justify-content: center;
        }

        &__text {
            max-width: 100%;
            margin: 0 auto;
        }

        &__photo {
            width: 350px;
            height: 293px;
            margin: 0 auto;
            margin-top: 32px;
        }
        &__text-title {
            font-size: 24px;
        }

        &__text-list {
            font-size: 14px;
        }
    }
}