.design {
    padding-top: 170px;

    &__photo {
        width: 590px;
        height: 616px;
        margin-left: calc(40% - 40vw);
    }

    &__blok {
        display: flex;
        justify-content: space-between;
    }

    &__text-title {
        font-family: Poppins, sans-serif;
        text-transform: uppercase;
        color: #E7E7E7;
        font-size: 54px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    &__text-item {
        font-weight: 600;
        font-family: Poppins, sans-serif;
        color: #E7E7E7;
        font-size: 28px;
        margin-bottom: 20px;
    }

    &__text-list {
        font-family: Poppins, sans-serif;
        color: #ffffff80;
        font-size: 20px;
        max-width: 510px;
        font-weight: 400;
        margin-bottom: 40px;
        line-height: 145%;
    }

    &__text-list:hover {
        color: #E7E7E7;
        cursor: context-menu;
        transition: .6s linear;
    }

    &__text {
        margin-left: 150px;
    }

    @media screen and (max-width:1200px) {
        .design {
            padding-top: 100px;

            &__photo {
                width: 354px;
            }

            &__text-title {
                font-size: 30px;
            }

            &__text-item {
                font-size: 20px;
            }

            &__text-list {
                font-size: 16px;
            }

            &__text {
                margin-left: 60px;
            }
        }
    }

    @media screen and (max-width:768px) {
        .design {
            padding-top: 52px;

            &__blok {
                display: block;
                align-items: center;
                justify-content: center;
            }

            &__text {
                max-width: 100%;
                margin: 0 auto;
            }

            &__photo {
                width: 350px;
                height: 293px;
                margin: 0 auto;
            }
            &__text-title {
                font-size: 24px;
            }

            &__text-list {
                font-size: 14px;
            }
        }
    }
}