.design {
    &__photo {
        width: 590px;
        height: 616px;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
    }

    &__blok {
        display: flex;
        justify-content: space-between;
    }

    &__text-title {
        font-family: Poppins, sans-serif;
        text-transform: uppercase;
        color: #E7E7E7;
        font-size: 54px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    &__text-item {
        font-weight: 600;
        font-family: Poppins, sans-serif;
        color: #E7E7E7;
        font-size: 28px;
        margin-bottom: 20px;
    }

    &__text-list {
        font-family: Poppins, sans-serif;
        color: #ffffff80;
        font-size: 20px;
        width: 510px;
        font-weight: 400;
        margin-bottom: 40px;
        line-height: 145%;
    }
    &__text-list:hover{
        color: #ffffff;
        cursor: context-menu;
    }
}