.faq {
  padding-top: 170px;
  padding-bottom: 170px;
}
.faq__title {
  font-weight: 600;
  font-size: 54px;
  color: rgba(231, 231, 231, 1);
  margin-bottom: 50px;
}
.faq__text {
  font-weight: 600;
  font-size: 28px;
  color: rgba(231, 231, 231, 1);
}
.faq__number {
  font-size: 28px;
  font-weight: 400;
  color: rgba(231, 231, 231, 1);
  margin-right: 32px;
}
.faq__mark {
  font-size: 28px;
  font-weight: 400;
  color: rgba(231, 231, 231, 1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 11px 18px;
  margin-left: auto;
}
.faq__answer {
  display: none;
}
.faq__answer.show {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: transparent;
  padding: 32px;
}
.faq__item {
  margin-bottom: 4px;
  margin-bottom: 108px;
  overflow: hidden;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.faq__question {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
}
.faq__question:hover,
.faq__question:focus {
  transition: transform 0.3s ease-in-out;
  color: #3187d3;
}
.faq__answer {
  padding: 24px;
  background-color: transparent;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.8);
}
// .faq__question:after {
//   content: '';
//   display: inline-block;
//   width: 10px;
//   height: 10px;
//   margin-left: 10px;
//   border: 1.5px solid #3187d3;
//   border-width: 0 1.5px 1.5px 0;
//   transform: rotate(45deg);
//   transition: transform 0.3s ease-in-out;
//   padding-left: 8px;
// }
.faq__item.open .faq__question:after {
  transform: rotate(-135deg) translateY(1px);
}
.faq__item.open .faq__answer {
  display: block;
}