.faq {
  padding-top: 16px;
  padding-bottom: 52px;
}
.faq__title {
  font-weight: 600;
  font-size: 24px;
  color: rgba(231, 231, 231, 1);
  margin-bottom: 32px;
}
.faq__text {
  font-weight: 400;
  font-size: 14px;
  color: rgba(231, 231, 231, 1);
}
.faq__number {
  font-size: 20px;
  font-weight: 400;
  color: rgba(231, 231, 231, 1);
  margin-right: 20px;
}
.faq__mark {
  font-size: 20px;
  font-weight: 400;
  color: rgba(231, 231, 231, 1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 9px 12px;
  margin-left: auto;
  cursor: pointer;
  transition-property: transform, box-shadow, border-radius;
  transition-duration: 3000ms;
}
.faq__answer {
  display: none;
}
.faq__answer.show {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: transparent;
  padding: 32px;
}
.faq__item {
  overflow: hidden;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.faq__item:hover .faq__mark,
.faq__item:focus .faq__mark {
  transform: rotate(360deg);
  border-radius: 1px;
  box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent,
    inset 0 0 0 transparent, inset 0 0 0 transparent,
    0 0 20px rgb(189, 188, 188);
}
.faq__item:nth-child(4) {
  margin-bottom: 0;
}
.faq__question {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
}
.faq__question:hover,
.faq__question:focus {
  transition: transform 0.3s ease-in-out;
  color: #3187d3;
}
.faq__answer {
  padding: 24px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.8);
}
.faq__item.open .faq__question:after {
  transform: rotate(-135deg) translateY(1px);
}
.faq__item.open .faq__answer {
  display: block;
}
@media screen and (min-width: 768px) {
  .faq {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .faq__title {
    font-size: 30px;
    margin-bottom: 32px;
  }
  .faq__text {
    font-size: 16px;
  }
  .faq__number {
    margin-right: 16px;
  }
  .faq__answer {
    font-size: 20px;
  }
  .faq__item {
    margin-bottom: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .faq {
    padding-top: 170px;
    padding-bottom: 170px;
  }
  .faq__title {
    font-size: 24px;
  }
  .faq__text {
    font-weight: 600;
    font-size: 28px;
  }
  .faq__number {
    font-size: 28px;
    margin-right: 32px;
  }
  .faq__mark {
    font-size: 28px;
    padding: 11px 18px;
  }
}