.feedback{
  padding-top: 170px;
  padding-bottom: 170px;
}
.feedback__img {
  height: 524px;
}
.feedback__title {
  font-weight: 600;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
}
.feedback__text {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #e7e7e7;
}
.feedback__input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  height: 80px;
  width: 510px;
  font-weight: 400;
  font-size: 20px;
  line-height: 70%;
  color: rgba(255, 255, 255, 0.3);
}
.feedback__textarea {
  resize: none;
  height: 160px;
  width: 510px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 20px;
  line-height: 70%;
  color: rgba(255, 255, 255, 0.3);
  padding-top: 41.58px;
}
.feedback__checkbox {
  width: 30px;
  height: 30px;
  margin-right: 29px;
}
.feedback__checkbox-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #e9edfa;
}
.feedback__checkbox-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #e9edfa;
  text-decoration: underline;
}
.feedback__button {
  width: 510px;
  height: 68px;
  background-color: transparent;
  border: 1px solid #df3d3a;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.feedback__button:hover,
.feedback__button:focus{
  border: 1px solid #FFFFFF;
  color: #B5302D;
}
.feedback__form{
  display: flex;
  flex-direction: column;
}
.feedback__wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
}
.feedback__form-div{
  display: flex;
  margin-top: 53px;
  margin-bottom: 89px;
}
