.guarantees {
  padding-top: 32px;
  padding-bottom: 52px;
}
.guarantees__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}
.guarantees__circle {
  border-radius: 100%;
  background-color: #df3d3a;
  width: 13px;
  height: 13px;
  margin-bottom: 24px;
}
.guarantees__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #e7e7e7;
  margin-bottom: 16px;
  width: 170px;
}
.guarantees__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 32px;
}
.guarantees__box {
  margin-bottom: 24px;
}
.guarantees__container {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .guarantees {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .guarantees__img {
    width: 354px;
    height: 442px;
  }
  .guarantees__title {
    font-size: 30px;
  }
  .guarantees__subtitle {
    margin-bottom: 20px;
    width: 100%;
  }
  .guarantees__box {
    margin-bottom: 55px;
  }
  .guarantees__text {
    font-size: 16px;
  }
  .guarantees__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .guarantees {
    padding-top: 170px;
    padding-bottom: 170px;
  }
  .guarantees__img {
    width: 590px;
    height: 565px;
  }
  .guarantees__title {
    font-size: 54px;
    margin-bottom: 50px;
  }
  .guarantees__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .guarantees__text {
    font-size: 20px;
    line-height: 145%;
  }
  .guarantees__box {
    margin-bottom: 69px;
  }
}
