.header {
  padding-top: 29px;
  padding-bottom: 52px;
}
.header__logo {
  width: 100px;
  height: 12px;
  margin-bottom: 32px;
}
// .header__link {
//   font-weight: 400;
//   font-size: 16px;
//   color: rgba(255, 255, 255, 0.7);
//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: ease;
// }
// .header__link:hover,
// .header__link:focus{
//     color: #df3d3a;
// }
.header__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.7);
}
.header__text:nth-child(1){
    margin-bottom: 16px;
}
.header__text:nth-child(2){
    margin-bottom: 32px;
}
.header__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}
.header__button {
  width: 280px;
  height: 58px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  background: #df3d3a;
  border: none;
  margin-bottom: 32px;
}
// .header__button:hover,
// .header__button:focus{
//   background-color: #B5302D;
// }
.header__img {
  width: 280px;
  height: 240px;
}
// .header__box{
//     display: flex;
//     justify-content: space-between;
// }
// .header__wrap{
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 70px;
// }
// .header__list{
//     display: flex;
//     gap: 77px;
// }
