.history{
    padding-bottom: 52px;

}
.history__content {
    display: flex;
}

.history__left-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #e7e7e7;
}

.history__left-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.8);
}

.history__right-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.8);
}

.history__right-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
    color: #e7e7e7;
}

.history__right-subtitle {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 70%;
    color: rgba(255, 255, 255, 0.4);
}

@media screen and (min-width:768px) {
    .history{
        padding-bottom: 100px;
    }
    .history__right-pad {
        display: flex;
        gap: 58px;
    }

    .history__left-pad {
        display: flex;
        gap: 58px;
    }
}
@media screen and (min-width:1200px){
    .history{
        padding-bottom: 170px;
    }
    .history__left-photo{
        width: 600px;
        height: 550px;
        background-color: #e7e7e7;
    }
    .history__right-photo{
        width: 290px;
        height: 355px;
        background-color: #e7e7e7;
    }
    .history__content{
        display: flex;
        gap: 50px;
        flex-direction: column;
    }
}