.reviews {
  padding-top: 52px;
  padding-bottom: 16px;
}
.reviews__video {
  min-width: 280px;
  max-width: 800px;
  margin-bottom: 32px;
}
.reviews__title-mob {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}
.reviews__title {
  display: none;
}
.reviews__link {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #df3d3a;
  margin-bottom: 16px;
}
.reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 0;
    padding-bottom: 0;
  }
  .reviews__title-mob {
    font-size: 30px;
  }
  .reviews__text {
    line-height: 145%;
    width: 550px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__title-mob {
    display: none;
  }
  .reviews__title {
    display: inline-block;
    font-weight: 600;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #e7e7e7;
    margin-bottom: 50px;
  }
  .reviews__link {
    font-size: 28px;
  }
  .reviews__text {
    font-size: 20px;
    width: 268px;
  }
  .reviews__box {
    display: flex;
    justify-content: space-between;
  }
}
