.reviews__video {
  width: 920px;
  height: 590px;
}
.reviews__title {
  font-weight: 600;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 50px;
}
.reviews__link {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #df3d3a;
}
.reviews__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 16px;
}
